<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman: game over</title>
</head>
<body>
    {% include 'base.html' with logged=logged %}
    <div>
        <h4>Przegrana!</h4>
        <div>
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/|\<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/ \<br>
            __|__<br>
        </div>
        Słowo do odgadnięcia: {{ word }}
    </div>
</body>
</html>