<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman: play</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/play.css' %}">
</head>
<body>
{% include 'base.html' with logged=logged %}
{{ hidden }}
<br><br>
<form method="post">
    guess letter:
    {% csrf_token %}
    <div class="letter-buttons">
        {% for letter in 'aąbcćdeęfghijklłmnńoóprsśtuwyzźż' %}
            <button value="{{ letter }}" name="guess">{{ letter }}</button>
        {% endfor %}
    </div>
</form>
<br>
<div class="used_letters_div">
użyte litery: {% for letter in used_letters %}<span class="used_letters">{{ letter }}</span>{% endfor %}<br>
</div>
    <br><br>
{% include 'play-drawings.html' with counter=counter %}
{% load static %}
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="{% static "js/play.js" %}"></script>
</body>
</html>