<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hangman: play</title>
</head>
<body>
    {% include 'base.html' with logged=logged %}
    {{ hidden }}
    <br><br>
    <form method="post">
        guess letter:
        <input type="text" name="guess">
        <input type="submit" value="guess">
        {% csrf_token %}
    </form>
    <br>
    użyte litery: {% for letter in used_letters %}{{ letter }} {% endfor %}<br>
    <br><br>
    <div>
        {% if counter == 1 %}
            <br>
            <br>
            <br>
            <br>
            <br>
            ____<br>
        {% elif counter == 2 %}
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 3 %}
            &emsp;|-----------<br>
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 4 %}
            &emsp;|-/----------<br>
            &emsp;|/<br>
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 5 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 6 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;O<br>
            &emsp;|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 7 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;O<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 8 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;O<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;/|<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 9 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;O<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;/|\<br>
            &emsp;|<br>
            __|__<br>
        {% elif counter == 10 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;O<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;/|\<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;/ <br>
            __|__<br>
        {% elif counter == 11 %}
            &emsp;|-/----------|<br>
            &emsp;|/&emsp;&emsp;&emsp;&ensp;|<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;O<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;/|\<br>
            &emsp;|&emsp;&emsp;&emsp;&ensp;/ \<br>
            __|__<br>
        {% endif %}
    </div>
</body>
</html>