<div class="drawing">
    {% if counter == 1 %}
        <br>
        <br>
        <br>
        <br>
        <br>
        ____<br>
    {% elif counter == 2 %}
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 3 %}
        &emsp;|-----------<br>
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 4 %}
        &emsp;|-/----------<br>
        &emsp;|/<br>
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 5 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 6 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
        &emsp;|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 7 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 8 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/|<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 9 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/|\<br>
        &emsp;|<br>
        __|__<br>
    {% elif counter == 10 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/|\<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/ <br>
        __|__<br>
    {% elif counter == 11 %}
        &emsp;|-/----------|<br>
        &emsp;|/&emsp;&emsp;&emsp;&ensp;&nbsp;|<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;O<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/|\<br>
        &emsp;|&emsp;&emsp;&emsp;&ensp;&nbsp;/ \<br>
        __|__<br>
    {% endif %}
</div>
